<div class="home-wrapper">
  <mat-card class="home-card">
    <mat-card-header>
      <mat-card-title>Witamy w aplikacji!</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>Zaloguj się lub zarejestruj, aby kontynuować.</p>
    </mat-card-content>

    <mat-card-actions class="buttons">
      <a mat-raised-button color="primary" routerLink="/login">
        <mat-icon>login</mat-icon>
        Zaloguj się
      </a>
      <a mat-raised-button color="primary" routerLink="/register">
        <mat-icon>person_add</mat-icon>
        Zarejestruj się
      </a>
    </mat-card-actions>
  </mat-card>
</div>
